@import 'bootstrap/scss/functions';

$primary: #a78bfa;
$secondary: #c4b5fd;
$success: #34d399;
$danger: #f87171;
$info: #60a5fa;
$light: rgba(226, 232, 240, 0.9);
$dark: #0f0c29;

@import './variables';

@import 'bootstrap/scss/bootstrap';