@media (max-width: 767.98px) {
  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 1rem;
    display: block;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    background: white;
  }

  table td {
    display: block;
    text-align: right;
    font-size: 0.9rem;
    border: none;
    padding: 0.5rem 0;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #666;
  }

  table td[data-label] {
    font-size: 0.8rem;
    font-weight: normal;
  }

  table td:last-child {
    border-bottom: 0;
  }
}